<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://northernvirginiamag.com/wp-content/uploads/2020/08/movie-popcorn.jpg);">
  <div class="container">
    <h1>Movies List</h1>
    <p>Cinema is a mirror by which we often see ourselves.</p>
  </div>
</div>
<h1 class="list-heading">My List</h1>
<div class="cards">
  <% @lists.each do |list| %>

 <% unless list.photos.first.nil? %>
  <%= link_to list_path(list), style:"text-decoration: none;"  do %>
   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photos.first.key, height: 300, crop: :fill %>)">
     <%= list.name %>
 </div>
      <% end %>
 <% else %>
    <%= link_to list_path(list), style:"text-decoration: none;"  do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://townsquare.media/site/442/files/2015/04/best-superhero-movies-all-time-pic.jpg?w=1200&h=0&zc=1&s=0&a=t&q=89')">
   <%= list.name %>
</div>
 <% end %>
 <% end %>

  <% end %>
</div>
